<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bustracker.dao.BusDAO">

    <select id="get" parameterType="map" resultType="com.bustracker.dto.Bus">

        select
            *
        from
            bus_log
        where 1=1
        <if test="seq_no != null">
            and seq_no = #{seq_no}
        </if>
        <if test="accuracy != null">
            and accuracy = #{accuracy}
        </if>

    </select>

    <select id="getCurrent" resultType="com.bustracker.dto.Bus">
        select
            *
        from
            bus_log
        where
            seq_no =
                (
                    select
                        max(seq_no)
                    from
                        bus_log
                )

    </select>

    <insert id="add" parameterType="com.bustracker.dto.Bus">
        insert into
            bus_log
        values (
            default
            , #{lat}
            , #{lon}
            , #{accuracy}
            , #{arrivaltime}
        )
    </insert>


</mapper>

